<body>

  <div *ngIf="!esconder">

  <div class="fondo">

  <section class="lateral">

    <div class="form-group">
      Energia
      <div class="panelblanco" class="form-control">{{energiaActual}}</div>

        <div class="centrarL">
          <div class="titulo"><b>¡Púlsame!</b></div>
        <button class = "electron" (click)="addEnergia()"></button></div>
    </div>


    <section class="flotatop">

      <button class="btn" (click)="mejorarClicker()">Fibonacci ({{preciosFibonacci[indexPrecioActual]}} de energia)</button>
      <div *ngIf="!einsteinComprado">
        <button class="btn" (click)="comprarEinstein()">{{cientificos[0].nombre}} ({{cientificos[0].precio}} de energía)</button>
      </div>
  
      <div *ngIf="einsteinComprado">
        <div *ngIf="!newtonComprado">
          <button class="btn" (click)="comprarNewton()">{{cientificos[1].nombre}} ({{cientificos[1].precio}} de energía)</button>
        </div>
      </div>
  
      <div *ngIf="newtonComprado">
        <div *ngIf="!teslaComprado">
          <button class="btn" (click)="comprarTesla()">{{cientificos[2].nombre}} ({{cientificos[2].precio}} de energía)</button>
        </div>
      </div>
      
  
      <div *ngIf="teslaComprado">
        <div *ngIf="!turingComprado">
          <button class="btn" (click)="comprarTuring()">{{cientificos[3].nombre}} ({{cientificos[3].precio}} de energía)</button>
        </div>
      </div>
      
  
    </section>
  </section>



  <section class="principal">



    <form>
      <div class="form-group">
        <label class="center-block">
          

          <!--/////////////////////////// EMPIEZA MEJORAS ///////////////////////////////////-->
          Mejoras actuales

          <div class="panelblanco" class="form-control">

            Fibonacci -> {{energiaXClicActual}} E/click
            <br>
            
          </div>

          <div *ngIf="einsteinComprado">
            <div class="panelblanco" class="form-control">  
            
              {{cientificos[0].nombre}} -> {{cientificos[0].energia}} E/s
              <br>
              
            </div>
          </div>

          <div *ngIf="newtonComprado">
            <div class="panelblanco" class="form-control">

              {{cientificos[1].nombre}} -> {{cientificos[1].energia}} E/s
              <br>
              
            </div>
          </div>

          
          <div *ngIf="teslaComprado">
            <div class="panelblanco" class="form-control">
              
              {{cientificos[2].nombre}} -> {{cientificos[2].energia}} E/s
              <br>

            </div>
          </div>
    
          <div *ngIf="turingComprado">
            <div class="panelblanco" class="form-control">
              
              {{cientificos[3].nombre}} -> {{cientificos[3].energia}} E/s
              <br>

            </div>
          </div>
          <!--/////////////////////////// ACABA MEJORAS ///////////////////////////////////-->
          
          
        </label>
      </div>
    </form>


    <div class="col-md-12" style="margin-top: -5px; margin-bottom: -15px;">
            
      <div class="row">
        <td>
          <button class="help" style="margin-left: 30px;" (click)="help();"></button>
          <button class="btn" style="margin-left: 50px; margin-top: -30px;" (click)="getPuntos()"><b>Terminar juego</b></button>
        </td>
      </div>

    </div>

    <br>
 

  </section>

  
  <!--//////////////////////////////////////////////////////////////////////////////////////-->


      <div class="popup">
        <div class="form-popup" id="helpForm">
          <form action="/action_page.php" class="form-container">
            <h5>Cómo jugar:</h5>
            <label for="email">
             <img class = "imagen" src="/assets/help.png"> 
            <br>

            <textarea class="textarea" disabled="disabled" rows="7" cols="35">
Tenemos dos formas de conseguir energia:
- Hacer clic en el botón del centro de la pantalla (icono de electrón).
- Comprar mejoras para adquirir energía de manera automática (hacer clic en el botón del científico correspondiente).

El objetivo final del juego es comprar todos los científicos.
            </textarea>
            <br>
            </label>
            <button type="button" style="margin-bottom: -10px;" class="btn cancel" onclick="closeHelp()">Close</button>
          </form>
        </div>
      </div>

      <div class="popupHelp">
        <div class="form-popup" id="ganaste">
          <form action="/action_page.php" class="form-container">
            <h5 style="text-align: center;">Enhorabuena</h5>
            <label for="email">
             <img class = "imagen" src="/assets/help.png"> 
            <br>
              <br>

                Enhorabuena has completado el juego!
              
                <br>
            </label>
            <button type="button" style="margin-bottom: -10px;" class="btn cancel" onclick="closeGanaste()">Close</button>
          </form>
        </div>
      </div>


      <div class="popup">
        <div class="form-popup" id="fibonacciForm">
          <form action="/action_page.php" class="form-container">
            <h5>Cientifico: Leonardo de Pisa (Fibonacci)</h5>
            <label for="email">
            <img class = "imagen" src="/assets/fibonacci.jpg">
            <br>
            <br>

            <div class="campoLateral">
              <textarea class="textarea" disabled="disabled" rows="7" cols="35">Fibonacci fue un matemático, conocido mayormente por La sucesión de Fibonacci: 
                n = (n-2)+(n-1).
                Ejemplo: 0, 1, 1, 2, 3, 5, 8, 13...
Esta sucesión de Finocci está presente en la naturaleza. Como por ejemplo en la disposición de los huracanes, de los girasoles o el caparazón del caracol entre otros.</textarea><br>
            </div>
              
          </label>
            <button type="button" class="btn cancel" onclick="closeFibonacci()">Close</button>
          </form>
        </div>
      </div>

      <div class="popup">
        <div class="form-popup" id="einsteinForm">
          <form action="/action_page.php" class="form-container">
            <h5>Cientifico: {{cientificos[0].nombre}}</h5>
            <label for="email">
            <img class = "imagen" [src]='cientificos[0].imagen'>
            <br>
            <br>

            <div class="campoLateral">
              <textarea class="textarea" disabled="disabled" rows="7" cols="35">{{cientificos[0].descripcion}}</textarea>
            </div>


            </label>
            <button type="button" class="btn cancel" onclick="closeEinstein()">Close</button>
          </form>
        </div>
      </div>

      <div class="popup">
        <div class="form-popup" id="newtonForm">
          <form action="/action_page.php" class="form-container">
            <h5>Cientifico: {{cientificos[1].nombre}}</h5>
            <label for="email">
            <img class = "imagen" [src]='cientificos[1].imagen'>
            <br>
            <br>

            <div class="campoLateral">
              <textarea class="textarea" disabled="disabled" rows="7" cols="35">{{cientificos[1].descripcion}}</textarea>
            </div>

            </label>
            <button type="button" class="btn cancel" onclick="closeNewton()">Close</button>
          </form>
        </div>
      </div>

      <div class="popup">
        <div class="form-popup" id="teslaForm">
          <form action="/action_page.php" class="form-container">
            <h5>Cientifico: {{cientificos[2].nombre}}</h5>
            <label for="email">
            <img class = "imagen" [src]='cientificos[2].imagen'>
            <br>
            <br>
                
            <div class="campoLateral">
              <textarea class="textarea" disabled="disabled" rows="7" cols="35">{{cientificos[2].descripcion}}</textarea>
            </div>

            </label>
            <button type="button" class="btn cancel" onclick="closeTesla()">Close</button>
          </form>
        </div>
      </div>

      <div class="popup">
        <div class="form-popup" id="turingForm">
          <form action="/action_page.php" class="form-container">
            <h5>Cientifico: {{cientificos[3].nombre}}</h5>
            <label for="email">
            <img class = "imagen" [src]="cientificos[3].imagen">
            <br>
            <br>
            
            <div class="campoLateral">
              <textarea class="textarea" disabled="disabled" rows="7" cols="35">{{cientificos[3].descripcion}}</textarea>
            </div>

            </label>
            <button type="button" class="btn cancel" onclick="closeTuring()">Close</button>
          </form>
        </div>
      </div>

  </div>


</div>

<div *ngIf="foundganar">
  <router-outlet></router-outlet>
</div>


</body>