<html>
<head>


  </head>
 
<body class="centrartodo">

  
  
<!--  <div class="container-fluid"> //temporizador
    <div class="row">
      <div class="col-xs-3">
        <div *ngIf="!finJuego">
          <h6>
          Tiempo restante</h6>
          
          <h3 class="rojo"> {{minutos}}:{{segundos}} </h3>
          </div>
      
          <div *ngIf="finJuego">
              <span>Fin del juego, has ganado {{puntos}} puntos</span>
              
          </div>
      </div>
    
    </div>
  </div> -->
  <div class="col-sm-5 col-md-5"></div>
      <div  class="col-md-2 col-sm-2 ">
        <button  (click)="help()" class = "help"></button>
        <br class="help">
      </div>
 
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5 col-md-5"></div>
      <div  class="col-md-2 col-sm-2 ">
        <button  (click)="addEnergia()" class = "electron"></button>
        <br class="electron">
        Tienes <span> {{energiaActual}} unidades de energía</span>
      </div>
   
    </div>
  </div>
<br>
 <div>
      Mejoras Actuales:
      <br>
      <div *ngIf="einsteinComprado">
          
          Mejora de Einstein ---> {{energiasCientificos[0]}} Energía/Segundo
          <br>
          
      </div>
      <div *ngIf="newtonComprado">
          
          Mejora de Newton ---> {{energiasCientificos[1]}} Energía/Segundo
          <br>
          
      </div>
      <div *ngIf="teslaComprado">
          
        Mejora de Tesla ---> {{energiasCientificos[2]}} Energía/Segundo
        <br>
        
    </div>

    <div *ngIf="turingComprado">
          
      Mejora de Turing ---> {{energiasCientificos[3]}} Energía/Segundo
      <br>
      
  </div>
  
      </div>
  
      <br>
      <br>
      

    Generación por clic: {{energiaXClicActual}} energia
    <br>
    Generación automática actual: {{multiplicadorTotal}} energia

    <br>
    <br>


    Si compras una mejora Fibonacci cada clic generará mas energía
    <br>
    Precio: {{preciosFibonacci[indexPrecioActual]}} de energía
    <br>


    <button class="open-button" (click)="mejorarClicker()"> Comprar Clicker Fibonacci</button>

    <br>
    <br>
    <br>

    <div *ngIf="!einsteinComprado">
    Si compras a {{nombreCientifico[0]}} te vamos a dar {{energiasCientificos[0]}} de energía por segundo
    <br>
    Precio: {{preciosCientificos[0]}} de energía
    <br>

    <button class="open-button" (click)="comprarEinstein()"> Comprar a {{nombreCientifico[0]}}</button>
    </div>


    <div *ngIf="einsteinComprado">
    <div *ngIf="!newtonComprado">
        Si compras a {{nombreCientifico[1]}} te vamos a dar {{energiasCientificos[1]}} de energía por segundo
        <br>
        Precio: {{preciosCientificos[1]}} de energía
        <br>

    
        <button class="open-button" (click)="comprarNewton()"> Comprar a {{nombreCientifico[1]}}</button>
      </div>
    </div>
    <div *ngIf="newtonComprado">
    <div *ngIf="!teslaComprado">
      Si compras a {{nombreCientifico[2]}} te vamos a dar {{energiasCientificos[2]}} de energía por segundo
      <br>
      Precio: {{preciosCientificos[2]}} de energía
      <br>
  
      <button class="open-button" (click)="comprarTesla()"> Comprar a {{nombreCientifico[2]}}</button>
    </div>
    </div>
    <div *ngIf="teslaComprado">
    <div *ngIf="!turingComprado">
      Si compras a {{nombreCientifico[3]}} te vamos a dar {{energiasCientificos[3]}} de energía por segundo
      <br>
      Precio: {{preciosCientificos[3]}} de energía
      <br>
      <button class="open-button" (click)="comprarTuring()"> Comprar a {{nombreCientifico[3]}}</button>
    </div>
    </div>
    <div *ngIf="turingComprado">
      No quedan mas cientificos! Pulsa terminar el juego para acabar.
      
    </div>
    
        <br>
        <br>
        <br>
    <button (click)="getPuntos()">Terminar juego</button>
   
<!--
    <button class="open-button" (click)="addMultiplicadorXsegundo(5)"> Añadir 5 por segundo</button>

    <br>
    <br>
    <br>

    <div class="open-btn">
        <button class="open-button" (click)="comprarEinstein()"><strong>Comprar cientifico</strong></button>
      </div>-->

      <div class="popupHelp">
        <div class="form-popup" id="helpForm">
          <form action="/action_page.php" class="form-container">
            <h5>Cómo jugar:</h5>
            <label for="email">
            <!-- <img class = "imagen" src="/assets/help.png"> -->
            <br>
              El juego está basado en la obtención de energía. <br>
              Para ello, tenemos dos modos: <br>
              <ol type=”A”>
                <li>Hacer clic en el botón del centro de la pantalla (icono de electrón).</li>
                <li>Comprar mejoras para adquirir energía de manera automática (hacer clic en el botón del científico correspondiente). </li>
                </ol>
                El objetivo final del juego es conseguir todas las mejoras (comprar todos los científicos). <br>
                Para poder avanzar en el juego necesitamos ir adquiriendo energía con la que poder desbloquear los sucesivos científicos. <br><br>
                Salu2 del Staff.
            </label>
            <button type="button" class="btn cancel" onclick="closeHelp()">Close</button>
          </form>
        </div>
      </div>


      <div class="popup">
        <div class="form-popup" id="fibonacciForm">
          <form action="/action_page.php" class="form-container">
            <h5>Cientifico: Leonardo de Pisa (Fibonacci)</h5>
            <label for="email">
            <img class = "imagen" src="/assets/fibonacci.jpg">
            <br>
            <br>
            Fibonacci fue un matemático, conocido mayormente por La sucesión de Fibonacci:<br> n = (n-2)+(n-1). <br>
            Ejemplo: 0, 1, 1, 2, 3, 5, 8, 13... <br>
            Esta sucesión de Finocci está presente en la naturaleza. Como por ejemplo en la disposición de los huracanes, de los girasoles o el caparazón del caracol entre otros.<br>
            Cada mejora de Fibonacci que compres hará que tus clics generen energía siguiendo la sucesión.
          </label>
            <button type="button" class="btn cancel" onclick="closeFibonacci()">Close</button>
          </form>
        </div>
      </div>

    <div class="popup">
        <div class="form-popup" id="einsteinForm">
          <form action="/action_page.php" class="form-container">
            <h5>Cientifico: {{nombreCientifico[0]}}</h5>
            <label for="email">
            <img class = "imagen" [src]='rutaImagen[0]'>
            <br>
            <br>
                {{descCientifico[0]}}
            </label>
            <button type="button" class="btn cancel" onclick="closeEinstein()">Close</button>
          </form>
        </div>
      </div>

      <div class="popup">
        <div class="form-popup" id="newtonForm">
          <form action="/action_page.php" class="form-container">
            <h5>Cientifico: {{nombreCientifico[1]}}</h5>
            <label for="email">
            <img class = "imagen" [src]='rutaImagen[1]'>
            <br>
            <br>
                {{descCientifico[1]}}
            </label>
            <button type="button" class="btn cancel" onclick="closeNewton()">Close</button>
          </form>
        </div>
      </div>

      <div class="popup">
        <div class="form-popup" id="teslaForm">
          <form action="/action_page.php" class="form-container">
            <h5>Cientifico: {{nombreCientifico[2]}}</h5>
            <label for="email">
            <img class = "imagen" [src]='rutaImagen[2]'>
            <br>
            <br>
                {{descCientifico[2]}}
            </label>
            <button type="button" class="btn cancel" onclick="closeTesla()">Close</button>
          </form>
        </div>
      </div>

      <div class="popup">
        <div class="form-popup" id="turingForm">
          <form action="/action_page.php" class="form-container">
            <h5>Cientifico: {{nombreCientifico[3]}}</h5>
            <label for="email">
            <img class = "imagen" [src]="rutaImagen[3]">
            <br>
            <br>
            
            {{descCientifico[3]}}
            </label>
            <button type="button" class="btn cancel" onclick="closeTuring()">Close</button>
          </form>
        </div>
      </div>

</body>
</html>