
<!--Mediante unos if, segun los cientificos comprados comprobados con los metodos hechos en el pantalla-victoria.component.ts, se muestra un resultado
    u otro -->
<div *ngIf="ganar0">
<h5 style="text-align: center;">¡Tu puedes ser el proximo gran cientifico!</h5>
<h5 style="text-align: center;">Puntos: {{puntos}}</h5>
<img class = "imagen" style="display: block;margin-left: auto;margin-right: auto;" src="/assets/cuidadoresize.jpg"> 
</div>

<div *ngIf="ganar1">
<h5 style="text-align: center;">¡Tu puedes ser el proximo gran cientifico!</h5>
<h5 style="text-align: center;">Puntos: {{puntos}}</h5>
<img class = "imagen" style="display: block;margin-left: auto;margin-right: auto;" src="/assets/leerresize.jpg"> 
</div>

<div *ngIf="ganar2">
<h5 style="text-align: center;">¡Tu puedes ser el proximo gran cientifico!</h5>
<h5 style="text-align: center;">Puntos: {{puntos}}</h5>
<img class = "imagen" style="display: block;margin-left: auto;margin-right: auto;" src="/assets/mejoresresize.jpg"> 
</div>

<div *ngIf="ganar3">
<h5 style="text-align: center;">¡Tu puedes ser el proximo gran cientifico!</h5>
<h5 style="text-align: center;">Puntos: {{puntos}}</h5>
<img class = "imagen" style="display: block;margin-left: auto;margin-right: auto;" src="/assets/potencialresize.jpg"> 
</div>

<div *ngIf="ganar4">
<h5 style="text-align: center;">¡Tu puedes ser el proximo gran cientifico!</h5>
<h5 style="text-align: center;">Puntos: {{puntos}}</h5>
<img class = "imagen" style="display: block;margin-left: auto;margin-right: auto;" src="/assets/miauresize.png">
</div>